* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1B1D20;
    font-family: monospace;
}
label{
    font-size: 25px;
    color: white;
}
input{
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    border-style: none;
    border: 3px solid #B0B2B3;
    font-size: 25px;
    color: white;
    font-family: monospace;
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container::after, .container::before {
    content: '';
    display: table;
    clear: both;
}

.form {
    width: 400px;
    margin: 80px auto;
    background-color: none;
}

section{
    background-color: #282A2D;
    height: 100vh;
    overflow-y: scroll;
}

button {
    margin: 20px 0 60px 0;
    float: left;
    width: 200px;
    background: none;
    border: 3px solid #B0B2B3;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
    font-family: monospace;
    display: block;
}

button:hover{
    cursor: pointer;
    background: #282A2D;
}
.pessoas-div {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    background: none;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 30px;
    border: 3px solid white;
    color: white;
    
}

.pessoas-div:hover{
    background-color: #35373b;
}

.btn{
    width: 200px;
    margin: 40px auto;
}

